html, body {
  height: 100%;
  background-color: #1B1D22;
}

html {
  overflow-y: scroll;
}
#root {
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: #1B1D22;
}

::-webkit-scrollbar-thumb {
  background-color:rgb(89, 94, 94);
  border-radius: 5px;
}


body::-webkit-scrollbar {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: 10px;
  width: 10px;
  background-color: #4e4d4d;
}

body::-webkit-scrollbar-thumb {
  height: 50px;
}